<div style="padding-top:60px">
<%= form_for(@projectuser) do |f| %>
  <% if @projectuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projectuser.errors.count, "error") %> prohibited this projectuser from being saved:</h2>

      <ul>
      <% @projectuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
      <%= f.label :project_id %><br>
      <%= f.select(:project_id, Project.all.collect {|p| [ p.projectname, p.id ] }, { include_blank: false }) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select(:user_id,User.all.collect {|p| [ p.username, p.id ] }, { include_blank: false }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
