<div style="padding-top:60px">
<% time = Time.new %>
<% today = time.strftime("%B %d, %Y") %>
<% total = @jb_mains.count + @jb_prods.count + @jbp_mains.count + @jbp_prods.count + @modem_prods.count + @modem_mains.count %>
<h4>Total Projects <span class="badge pull-right"><%= total %></span></h4>
<div class="project">
 <h5>JB MAIN <span class="badge"><%= @jb_mains.count %></span></h5>	
<table class="table table-hover">
  <thead>
  	<tr>
	   <th>SL</th>
	   <th>PROJECT NAME</th>
	   <th>LAST UPDATE</th>
     <th>Sync CL</th>
   </tr>
  </thead>
  <tbody>
  	<% @count = 1 %>
  	<% @jb_mains.each do |name| %>
  	<% @data = name.split ("@") %>
    <% date = Date.parse(@data[2]).strftime("%B %d, %Y") %>
  	 <tr>
      <% if date > 1.week.ago  && date != today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-default">Last <%= Date.parse(@data[2]).strftime("%A") %></span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% elsif date == today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-info">Just Updated</span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% else %>
        <td><%= @count %></td>
        <td><%= @data[1] %></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% end %>
     </tr>
    <% @count+=1 %>
    <% end %>
  </tbody>
</table>
</div>

<div class="project">
 <h5>JB PROD <span class="badge"><%= @jb_prods.count %></span></h5>	
<table class="table table-hover">
  <thead>
  	<tr>
	   <th>SL</th>
	   <th>PROJECT NAME</th>
	   <th>LAST UPDATE</th>
     <th>Sync CL</th>
   </tr>
  </thead>
  <tbody>
  	<% @count = 1 %>
  	<% @jb_prods.each do |name| %>
  	<% @data = name.split ("@") %>
    <% date = Date.parse(@data[2]).strftime("%B %d, %Y") %>
  	 <tr>

        <% if date > 1.week.ago  && date != today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-default">Last <%= Date.parse(@data[2]).strftime("%A") %></span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% elsif date == today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-info">Just Updated</span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% else %>
        <td><%= @count %></td>
        <td><%= @data[1] %></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% end %>
     </tr>
    <% @count+=1 %>
    <% end %>
  </tbody>
</table>
</div>

<div class="project">
 <h5>JBP MAIN <span class="badge"><%= @jbp_mains.count %></span></h5> 
<table class="table table-hover">
  <thead>
    <tr>
     <th>SL</th>
     <th>PROJECT NAME</th>
     <th>LAST UPDATE</th>
     <th>Sync CL</th>
   </tr>
  </thead>
  <tbody>
    <% @count = 1 %>
    <% @jbp_mains.each do |name| %>
    <% @data = name.split ("@") %>
    <% date = Date.parse(@data[2]).strftime("%B %d, %Y") %>
     <tr>
       <% if date > 1.week.ago  && date != today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-default">Last <%= Date.parse(@data[2]).strftime("%A") %></span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% elsif date == today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-info">Just Updated</span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% else %>
        <td><%= @count %></td>
        <td><%= @data[1] %></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% end %>
     </tr>
    <% @count+=1 %>
    <% end %>
  </tbody>
</table>
</div>

<div class="project">
 <h5>JBP PROD <span class="badge"><%= @jbp_prods.count %></span></h5> 
<table class="table table-hover">
  <thead>
    <tr>
     <th>SL</th>
     <th>PROJECT NAME</th>
     <th>LAST UPDATE</th>
     <th>Sync CL</th>
   </tr>
  </thead>
  <tbody>
    <% @count = 1 %>
    <% @jbp_prods.each do |name| %>
    <% @data = name.split ("@") %>
    <% date = Date.parse(@data[2]).strftime("%B %d, %Y") %>
     <tr>
        <% if date > 1.week.ago  && date != today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-default">Last <%= Date.parse(@data[2]).strftime("%A") %></span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% elsif date == today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-info">Just Updated</span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% else %>
        <td><%= @count %></td>
        <td><%= @data[1] %></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% end %>
     </tr>
    <% @count+=1 %>
    <% end %>
  </tbody>
</table>
</div>

<div class="project">
 <h5>MODEM MAIN <span class="badge"><%= @modem_mains.count %></span></h5> 
<table class="table table-hover">
  <thead>
    <tr>
     <th>SL</th>
     <th>PROJECT NAME</th>
     <th>LAST UPDATE</th>
     <th>Sync CL</th>
   </tr>
  </thead>
  <tbody>
    <% @count = 1 %>
    <% @modem_mains.each do |name| %>
    <% @data = name.split ("@") %>
    <% date = Date.parse(@data[2]).strftime("%B %d, %Y") %>
     <tr>
        <% if date > 1.week.ago  && date != today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-default">Last <%= Date.parse(@data[2]).strftime("%A") %></span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% elsif date == today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-info">Just Updated</span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% else %>
        <td><%= @count %></td>
        <td><%= @data[1] %></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% end %>
     </tr>
    <% @count+=1 %>
    <% end %>
  </tbody>
</table>
</div>

<div class="project">
 <h5>MODEM PROD <span class="badge"><%= @modem_prods.count %></span></h5> 
<table class="table table-hover">
  <thead>
    <tr>
     <th>SL</th>
     <th>PROJECT NAME</th>
     <th>LAST UPDATE</th>
     <th>Sync CL</th>
   </tr>
  </thead>
  <tbody>
    <% @count = 1 %>
    <% @modem_prods.each do |name| %>
    <% @data = name.split ("@") %>
    <% date = Date.parse(@data[2]).strftime("%B %d, %Y") %>
     <tr>
        <% if date > 1.week.ago  && date != today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-default">Last <%= Date.parse(@data[2]).strftime("%A") %></span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% elsif date == today %>
        <td><%= @count %></td>
        <td><%= @data[1] %><span class="label label-info">Just Updated</span></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% else %>
        <td><%= @count %></td>
        <td><%= @data[1] %></td>
        <td><%= date %></td>
        <td><%= @data[0] %></td>
        <% end %>
     </tr>
    <% @count+=1 %>
    <% end %>
  </tbody>
</table>
</div>
</div>
